{{#each this}}

<li class="smallCard animate__animated animate__zoomInUp" data-id="{{id}}">
    <img class="smallCard-small" src='{{image.url}}' data-id="{{id}}" width=200/>
    <div class="smallCard_info">
        <ul class="smallCard_info_list">
            <li class="smallCard_heroes">
                <p class="smallCard_text" data-id="{{id}}">{{name}}</p>
            </li>
            <li class="smallCard_date">
                <p class="smallCard_text" data-id="{{id}}">{{localDate}}</p>
            </li>
            <li class="smallCard_place">
                <a href="{{map}}" class="smallCard_text_place smallCard_href" target="_blank" data-id="{{id}}"><span>{{placeName}}</span></a>
            </li>
        </ul>
    </div>
</li>

{{/each}}
{{!-- // <a href="https://www.google.com/maps/@{{_embedded.venues.[0].location.latitude}}{{_embedded.venues.[0].location.longitude}}" class="smallCard_text"></a>  --}}



